
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/bootstrapValidate/bootstrapValidator.css" ></script>
    <script src="/bootstrapValidate/bootstrapValidator.js" ></script>
    <style>

        .title{
            font-size: 1.5em;
            color: white;
        }

    </style>
</head>
<body>
<div class="navbar  navbar-fixed-top">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a> <h5 class="title"><strong>&nbsp;&nbsp;&nbsp;南昌航空大学</strong></h5></a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  th:href="@{/index}"  th:method="POST" th:type="post"><h5 class="title"><strong>Home</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/login}"  th:method="POST" th:type="post"><h5 class="title"><strong>News</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/login}"  th:method="POST" th:type="post"><h5 class="title"><strong>Pages</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/login}"  th:method="POST" th:type="post"><h5 class="title"><strong>People</strong></h5></a>
                </li>
                <li>
                    <a  th:href="@{/login}"  th:method="POST" th:type="post"><h5 class="title"><strong>Products</strong></h5></a>
                </li>
                <li>
                    <a th:href="@{/login}"  th:method="POST" th:type="post"><h5 class="title"><strong>Projects</strong></h5></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<br><br><br>
</body>

</html>
