
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .bg{
            background:url("/img/error.jpg");
            background-size:100%;
        }
    </style>
</head>
<body>
  <div class="row bg">
      <div class="container">
          <br><br>

              <h1 class="text-center" style="color: white">程序猿正在紧张的开发该功能当中</h1>

      </div>
   <br><br>   <br><br>   <br><br>   <br><br>   <br><br>   <br><br>   <br><br>   <br><br>   <br><br>   <br><br>
      <br><br>   <br><br>     <br><br>   <br><br> <br><br>   <br><br>   <br><br>   <br><br>   <br><br>   <br><br>
  </div>
</body>
</html>
